.nav__main {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9);
}
.logo {
  z-index: 1;
}
.logo h4 {
  color: tomato;
  font-size: 25px;
}
.logo h4 span {
  color: #fff;
}
.menu-list {
  display: flex;
  justify-content: space-between;
}
.menu-list li {
  margin: 0 20px;
  list-style: none;
  z-index: 1;
}
.menu-list li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 5px 10px;
}
.menu-list li a:hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
.menu-list li .active {
  background-color: #fff;
  color: #000 !important;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}
.menu {
  z-index: 99;
  display: none;
}
.menu-icon,
.cross-icon {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.menu .menu-icon {
  transform: rotate(180deg) !important;
  transition: all 0.2s ease-in-out;
}
.menu .cross-icon {
  transform: rotate(360deg) !important;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 800px) {
  .logo h4 {
    font-size: 20px;
  }
  .menu-list li {
    margin: 0px 10px;
  }
  .menu-list li a {
    font-size: 14px;
  }
}
@media screen and (max-width: 700px) {
  .menu {
    display: block;
  }

  .menu-list {
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    right: 0;
    top: 64px;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }
  .menu-list li {
    margin-bottom: 20px;
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .menu-list li:last-child {
    margin-bottom: 0;
  }
  .close {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }
}
